<div class="row">
		<div class="form-group">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-lg-9">
			<div class="panel">
				<div class="row">
					<div class="col-xs-12">
							<div style="text-align: center;">
								<h4>Bảng thống kê dữ liệu theo ngày</h4>
								 <!-- {{campaignsDetail}} -->
							</div>
					</div>
				</div>
				<div class="panel-body">
					 <table class="table table-striped table-hover table-bordered">
						 <thead>
							 <tr>
								 <th>date</th>
								 <th>cid</th>
								 <th>ndelivered</th>
								 <th>ndrop</th>
								 <th>nclicked</th>
								 <th>nopened</th>
								 <th>predict</th>
							 </tr>
						 </thead>
						 <tbody>
							 <tr *ngFor='let campaign of campaignsDetail'>
								 <td>{{campaign['date']}}</td>
								 <td>{{campaign['cid']}}</td>
								 <td>{{campaign['ndelivered']}}</td>
								 <td>{{campaign['ndrop']}}</td>
								 <td>{{campaign['nclicked']}}</td>
								 <td>{{campaign['nopened']}}</td>
								 <td>{{campaign['predict']}}</td>
							 </tr>
						 </tbody>
					 </table>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-lg-3">
			<label>Choose date: </label>
			<dp-date-picker [(ngModel)] = "selectedDate" (onChange) = "chooseDate()" [config]="datePickerConfig"></dp-date-picker>
		</div>
	</div>